## Data analysis

In [3]:
import pandas as pd
import os

# Ottieni la directory padre della directory corrente
parent_dir = os.path.dirname(os.getcwd())

local_file_path  = "\data\PLV_LINEAR.csv"

fullDataSetPath = parent_dir + local_file_path



data = pd.read_csv(fullDataSetPath, sep=";")

# Carica solo le prime 5 righe per diagnosticare la struttura
data.head()

<>:7: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\d'
C:\Users\hp\AppData\Local\Temp\ipykernel_13136\2629013842.py:7: SyntaxWarning: invalid escape sequence '\d'
  local_file_path  = "\data\PLV_LINEAR.csv"

,#,LINEARobjectID,LCtype,P,A,mmed,stdev,rms,Lchi2pdf,nObs,skew,kurt,LR,CUF,t2,t3
0,NaN,2522,5,0.238812,0.68,17.00,0.22,0.25,0.543,225,0.75,0.11,0.317,1,0,0
1,NaN,4822,5,0.403043,0.32,14.19,0.11,0.12,2.102,126,0.46,-0.89,1.868,1,0,0
2,NaN,17249,5,0.252815,0.57,16.16,0.18,0.19,0.876,178,1.16,0.44,0.584,1,0,0
3,NaN,18469,5,0.428962,0.46,14.17,0.16,0.20,2.501,200,0.70,-0.59,2.320,1,0,0
4,NaN,28800,5,0.332774,0.28,15.31,0.11,0.11,1.214,240,1.84,7.94,0.960,1,0,0

## Data cleaning

In [27]:
data.isnull().sum() # il dataset non presenta valori mancanti

#                 7194
LINEARobjectID       0
LCtype               0
P                    0
A                    0
mmed                 0
stdev                0
rms                  0
Lchi2pdf             0
nObs                 0
skew                 0
kurt                 0
LR                   0
CUF                  0
t2                   0
t3                   0
dtype: int64

In [21]:
data = data.drop_duplicates()  # Rimuove righe duplicate
data = data.drop("#", axis=1)  # Rimuove la colonna di valri NaN
data.head()

,LINEARobjectID,LCtype,P,A,mmed,stdev,rms,Lchi2pdf,nObs,skew,kurt,LR,CUF,t2,t3
0,2522,5,0.238812,0.68,17.00,0.22,0.25,0.543,225,0.75,0.11,0.317,1,0,0
1,4822,5,0.403043,0.32,14.19,0.11,0.12,2.102,126,0.46,-0.89,1.868,1,0,0
2,17249,5,0.252815,0.57,16.16,0.18,0.19,0.876,178,1.16,0.44,0.584,1,0,0
3,18469,5,0.428962,0.46,14.17,0.16,0.20,2.501,200,0.70,-0.59,2.320,1,0,0
4,28800,5,0.332774,0.28,15.31,0.11,0.11,1.214,240,1.84,7.94,0.960,1,0,0

In [22]:
# Conta le occorrenze per ciascun valore nella colonna 'LCtype'
conteggi = data['LCtype'].value_counts()
print(conteggi)

LCtype
1     2923
5     2385
2      990
4      357
0      318
6      112
7       77
3       20
9        6
11       5
8        1
Name: count, dtype: int64

In [23]:
'''
Osserviamo che le classi 3, 9, 11, 8 sono scarsamente popolate, possono essere rimosse

'''

# Lista dei valori da rimuovere come numeri interi
valori_da_rimuovere = [3, 9, 11, 8]  # Rimuovi le virgolette per avere numeri interi

# Filtra il dataframe escludendo questi valori
data = data[~data['LCtype'].isin(valori_da_rimuovere)]

# Conta le occorrenze per ciascun valore nella colonna 'LCtype'
conteggi = data['LCtype'].value_counts()
print(conteggi)

LCtype
1    2923
5    2385
2     990
4     357
0     318
6     112
7      77
Name: count, dtype: int64

## Salvataggio file csv
Dopo la fase di data_cleaning il file pu√≤ essere scaricato e utilizzato per il training del modello

In [24]:
import os

# Ottieni la directory corrente
currDir = os.getcwd()

# Ottieni la directory padre
parent_dir = os.path.dirname(currDir)

# Costruisci il percorso completo utilizzando os.path.join
fullOutputPath = os.path.join(parent_dir, "data", "output", "output.csv")

# Stampa il percorso per verificare che sia corretto
print(fullOutputPath)

data.to_csv(fullOutputPath , index=False)

c:\Users\d.dipadova\ClassificationOfVariableStars\VariableStarClassification\data\output\output.csv